
.container-fullwidth {
    padding-top: 1em;
}

.container{
    color: white;
}
.navbar-dark {
    background:#5bc0de;
}

.navbar-toggler-icon{
    color: white;
}

.navbar-nav {
    margin-left: auto;
}

.card {
    margin-top: 1em;
}
